.services-wrapper {
  .heading {
    font-size: 42px;
    font-weight: 500;
    line-height: 52px;
  }
  .sub-heading {
    font-size: 18px;
    line-height: 24px;
    opacity: 0.7;
  }
  .cards {
    min-height: 350px;
    border-radius: 10px;
    display: flex;
    justify-content: center;

    .card-icon {
      height: 100px;
      width: 90px;
      top: -25px;
      font-size: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    }
    .title {
      font-size: 28px;
      font-weight: 700;
      line-height: 38px;
    }
    .sub-title {
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      opacity: 0.8;
    }
  }
}
