.aspiring-wrapper {
  min-height: 220px;
  background: #e2f0f6;
  box-shadow: 5px 5px 30px rgb(187, 255, 158);
  
  img {
    min-height: 220px;
  }
  
  .info {
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(22, 22, 22, 0.481);
  }
}
