.aspiring-wrapper {
  min-height: 250px;

  img {
    min-height: 250px;
  }

  .info {
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(13, 211, 155, 0.6);
  }
}
