* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;

  a {
    text-decoration: none;
  }
}

// font
.DM {
  font-family: "DM Sans", sans-serif;
}

// colors
.base-color {
  color: #0099dc;
}
.secondary-color {
  color: #0000ff;
}

// background color
.base-background {
  background: #0099dc;
}
.base-gradient-background {
  background-image: linear-gradient(90deg, #0000ff99, #009adc91);
}
.secondary-background {
  background: #0000ff;
}
.secondary-gradient-background {
  background-image: linear-gradient(90deg, #0000ff, #0099dc);
}
.primary-background {
  background-color: #041d34;
}
