* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// font
.DM {
  font-family: "DM Sans", sans-serif;
}

// colors
.base-color {
  color: #0099dc;
}
.secondary-color {
  color: #0000ff;
}

// background color
.base-background {
  background: #0099dc;
}
.secondary-background {
  background: #0000ff;
}
